{% extends "layout.html" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid" style="padding-bottom:54px">
        <div class="pos-box bgw mtb15">
          <div class="tab-list">
              <div class="tabs-item active">{{data['lan']['H2']}}</div>
          </div>
        </div>
        <div class="setbox bgw mtb15 radius4">
            <div class="title c6 plr15">
                <h3 class="f16">{{data['lan']['H3']}}</h3>
            </div>
            <div class="setting-con ptb20" id="crontabForm" style="min-height:350px"></div>
        </div>

        <div class="setbox bgw mtb15 radius4">
            <div class="title c6 plr15">
                <h3 class="f16">{{data['lan']['H4']}}</h3>
            </div>
            <div id="crontabTabel" class="pd15 setting-con"></div>
        </div>
    </div>
</div>
<style>
    /* tools.js */
    .bt-form .line label.cursor-pointer i.form-checkbox{
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background-color: #fff;
        vertical-align: top;
        position: relative;
        border-radius: 2px;
        vertical-align:middle;
    }
    .bt-form .line label.cursor-pointer i.form-checkbox.active{
        background-color: #20a53a;
        border-color: #20a53a;
    }
    .bt-form .line label.cursor-pointer i.form-checkbox.active::after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        margin-left: -2.5px;
        margin-top: -6px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    /* tools.js end */
    .layer-create-content .layui-layer-content {
        overflow: inherit;
    }

    .crontab_form {
        padding: 15px 45px;
    }

    .crontab_form .inlineBlock {
        vertical-align: middle;
    }

    .crontab_form .tname {
        font-size: 13px;
    }

    .crontab_form .line .tname {
        height: 35px;
        line-height: 35px;
    }

    .crontab_form .line .info-r {
        margin-bottom: 15px;
    }

    .crontab_form .bt_select_updown {
        height: 35px;
        line-height: 35px;
    }

    .crontab_form .bt-input-text {
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
        font-size: 13px;
    }


    .crontab_form .bt_select_updown .bt_select_list {
        max-height: 240px;
    }

    .crontab_form .inlineBlock.group span {
        height: 35px;
        line-height: 33px
    }

    .crontab_form .bt_select_updown .bt_select_value {
        height: 33px;
        line-height: 33px;
    }

    .crontab_form .bt_select_updown .bt_select_content {
        font-size: 13px;
    }

    .crontab_form .bt_select_updown .bt_select_list {
        top: 35px;
    }

    .crontab_form .bt_select_updown .bt_select_list .item {
        height: 30px;
        line-height: 30px;
    }

    .crontab_form .inlineBlock {
        margin-right: 10px;
    }

    .crontab_form .btn {
        font-size: 13px;
        padding: 7px 30px;
    }
    #crontabTabel .divtable thead{
        position: relative;
        z-index: 999;
    }
    #crontabTabel .divtable{
        border: 1px solid #ddd;
    }
    #crontabTabel table{
        border: none;
    }
    .layer-alarm-channel .bt-w-main{ height:430px}

    /* 消息通道 */
    .channel_config_view a.layui-layer-btn2{
        background-color: #fff;
        border: 1px solid #ccc !important;
        color: #555;
        font-weight:initial;
        float: left;
    }
    .channel_config_view a.layui-layer-btn2:hover{
        color: #fff;
        background-color: #10952a;
        border-color: #398439;
    }

    .email_alarm thead{
        position: relative;
        z-index: 11;
    }
    /* 消息通道 end*/
</style>
{% endblock %}
{% block scripts %}
  {{ super() }} 
  <script src="{{g.cdn_url}}/js/crontab.js?version={{g['version']}}&repair={{data['js_random']}}"></script>
  <script type="text/javascript">
      crontab.init()
      setCookie('serverType',"{{session['webserver']}}");
  </script>
{% endblock %}
