<b>抱歉，连接云端服务器失败! - {code}</b>
<hr />
<p><b>可能的原因：</b></p>
<ul class="help-info-text c7">
    <li>本地服务器网络异常</li>
    <li>本地服务器DNS配置异常</li>
    <li>云端服务器故障</li>
</ul>
<hr />
<p><b>建议按顺序逐一尝试以下解决方案：</b></p>
<ul class="help-info-text c7">
    <li>在【首页】右上角点击【修复】按钮尝试修复面板</li>
    <li>在面板【设置】面页尝试修改【面板云端请求线路】</li>
    <li>在面板【设置】面页尝试修改【面板云端通讯节点配置】</li>
    <li>在面板【设置】面页尝试修改【面板云端请求方式】</li>
    <li>打开堡塔官网查看云端服务器是否在维护：<a href="https://www.bt.cn" class="btlink" target="_blank">打开堡塔官网</a></li>
    <li>排查本地服务器络是否存在异常</li>
    <li>向服务器提供商请求协助</li>
    <li>到堡塔官方论坛发贴求助: <a href="https://www.bt.cn/bbs" class="btlink" target="_blank">打开堡塔论坛</a></li>
</ul>