{% extends "layout.html" %}
{% block content %}
<div class="main-content pb55" style="min-height: 525px;">
    <div class="container-fluid">
        <div class="bt-form pd20 pb70" style="margin-top: 10%;margin-left: 30%;">
            <span style="margin-left: 100px;font-size: 17px;margin-bottom: 15px;">当前面板密码已过期，请立即修改密码!</span>
            <div class="line" style="margin-top: 15px;"><span class="tname">密码</span>
                <div class="info-r"><input class="bt-input-text" type="text" name="password1" id="p1" value=""
                        placeholder="新的密码" style="width:300px"></div>
            </div>
            <div class="line"><span class="tname">重复</span>
                <div class="info-r"><input class="bt-input-text" type="text" name="password2" id="p2" value=""
                        placeholder="再输一次" style="width:300px"></div>
            </div>
            <div>
                <span style="margin-left: 304px;" title="随机密码" class="btn btn-default btn-sm" onclick="randPwd(16)">随机</span>
                <button type="button" class="btn btn-success btn-sm" onclick="modify_password()">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

    function modify_password(){
        p1 = $("#p1").val();
        p2 = $("#p2").val();
        if(p1 == "" || p1.length < 8) {
            layer.msg(lan.bt.pass_err_len, {
                icon: 2
            });
            return
        }
        $.post("/config?action=setPassword", "password1=" + encodeURIComponent(p1) + "&password2=" + encodeURIComponent(p2), function(b) {
                if(b.status) {
                    layer.msg(b.msg, {icon: 1});
                    setTimeout(function() {
                        location.href = "/"
                    }, 3000)
                } else {
                    layer.msg(b.msg, {icon: 2,time:8000})
                }
        });
    }
</script>
{% endblock %}