<div>
    <h3>出错了，[{plugin_name}]运行时发生错误！</h3>
    <div style="margin-bottom: 15px;margin-top: 15px;color: red;">
        <h4 style="font-size: none;">{error_title}</h4>
    </div>
    <pre style="height:165px;word-wrap: break-word;white-space: pre-wrap;margin: 0 0 10px">{request_info}</pre>
    <pre style="height:379px;word-wrap: break-word;white-space: pre-wrap;margin: 0 0 0px">{error_msg}</pre>
    <ul class="help-info-text">
        <li style="list-style: none;"><b>很抱歉，您在访问[{plugin_name}]插件时，意外发生错误，请尝试按以下顺序尝试解除此错误：</b></li>
        <li style="list-style: none;">1、在[首页]右上角点击修复面板，并退出面板重新登录。</li>
        <li style="list-style: none;">2、若此插件不是最新版，尝试更新到最新版，若已是最新版，请尝试重装此插件，若为测试版，请尝试切换为正式版</li>
        <li style="list-style: none;">3、若此插件为第三方插件，请在插件窗口中找到插件作者联系方式，尝试联系作者寻求帮助</li>
        <li style="list-style: none;">4、如上述尝试未能解除此错误，请截图此窗口到宝塔论坛发贴寻求帮助, 论坛地址：<a class="btlink" href="https://www.bt.cn/bbs" target="_blank">https://www.bt.cn/bbs</a></li>
    </ul>
</div>