Flask>=1.0.2
paramiko>=2.6.0
Werkzeug==0.16.1
pillow>=7.1.0
requests>=2.20
cffi>=1.12.3
psutil>=5.2.0
chardet>=3.0.4
Flask-Session>=0.3.1
flask-sqlalchemy>=2.3.2
gevent-websocket>=0.10.1
pyopenssl>=19.0
cryptography>=2.7
six>=1.12.0
